<%= form_tag 'welcome/widget' do %>
  <p><%= label_tag :id, 'Enter a Flicker user ID:' %></p>
  <p><%= text_field_tag :id, '43335486@N00' %></p>
  <p><%= submit_tag 'Show latest photos' %></p>
<% end %>
