<div class="flickr">
  <ul>
    <% photos.each do |row| %>
      <li>
        <% row.each do |p| %>
          <%= link_to (image_tag build_url(p), class: 'flickr_photo', title: p.title, border: 0, size: '75x75'), build_show_url(p) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>